*
  box-sizing border-box
  outline 0

html, body, #react-root, [data-reactroot]
  width 100%
  height 100%
  margin 0
  padding 0

[data-reactroot]
  display flex

table
  width 100%
  border-collapse collapse

th, td
  padding 8px
  border 1px solid #efefef

.ui-fit-width
  width 100%

.ui-unpadded
  padding 0

.ui-padded-sm
  padding 8px

.ui-unbordered
  border 0

.ui-align-center
  text-align center
